body {
  width: 1190px;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: flex-start;
}

#top_nav {
  width: 100vw;
}

#nav_main {
  display: none;
}

#home {
  width: 1190px;
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  height: 90vh;
}

#header {
  width: 280px;
  height: 500px;
  border-left: 1px solid #cccccc;
  position: sticky;
  top: 0;
}

#blogTitle {
  border-bottom: 1px solid #cccccc;
  padding-left: 30px;
}

#main {
  width: 899px;
}

#mainContent {
  border-left: 1px solid #cccccc;

}

#footer {
  width: 1190px;
}

.logo-title {
  display: block;
  color: #3d3d3d;
  margin-bottom: 30px;
}

#blogLogo {
  width: 100px;
  height: 100px;
}

.tona-h1 {
  border-bottom: 1px solid #cccccc;
  width: 1190px;
  padding: 20px 0;
  font-size: 30px;
  color: #3d3d3d;
}

ul,
li {
  list-style: none;
  color: #3d3d3d;
  padding-left: 15px;
}

li {
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: #3d3d3d;
}

#navList {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}

.blogStats {
  display: none;
}

.postTitle {
  padding-bottom: 25px;
  font-size: 27px;
  color: #3d3d3d;
}

.dayTitle {
  display: none;
}

.day {
  padding-right: 50px;
}

.c_b_p_desc {
  font-size: 13px;
  color: #848484;
  line-height: 23px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.c_b_p_desc_readmore {
  display: none;
}

.postDesc {
  padding-top: 15px;
  font-size: 13px;
  color: #848484;
  margin-bottom: 100px;
}

.post-view-count,
.post-comment-count,
.post-digg-count {
  display: none;
}

.postTitle,
.postCon,
.postDesc {
  padding-left: 25px;
}

.postCon {
  border-bottom: 1px solid #cccccc;
}

#sideBar {
  display: none;
}


#footer {
  margin-top: 150px;
  text-align: center;
  align-self: flex-end;
}

.footer-copyright,
#footer_site_link,
.footer-icp {
  display: none;
}

.custom-footer {
  font-size: 13px;
}

.next-page,
.preview-page {
  margin-left: 26px;
  margin-right: 26px;
}

.next-page,
.preview-page,
.page-spliter {
  display: inline-block;
  margin-top: 10px;
}


.topicListFooter,
#nav_next_page {
  visibility: hidden;
  position: absolute;
}

.href-dsiabled {
  pointer-events: none;
  /* 不响应点击 */
  color: #999;
}

.display-none {
  display: none;
}

.postBody {
  padding: 0 30px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 30px !important;
  margin-bottom: 14px !important;
}

mark {
  background: #d5d5d5;
  padding: 0 2px 0 2px;
  margin: 0 2px 0 2px;
  border-radius: 3px;
}

ul,
ol {
  padding-left: 20px !important;
  line-height: 2;
  font-size: 16px;
  margin: 0 !important;
}

li {
  margin: 0;
  padding-left: 6px !important;
}

:is(dir, menu, ol, ul) :is(dir, menu, ul) {
  list-style-type: circle !important;
}

ul li::marker {
  color: #000;
  font-size: 17px;
}

code {
  word-wrap: break-word !important;
  word-break: normal !important;
  font-size: 13px !important;
  text-rendering: geometricprecision;
  text-wrap-mode: wrap;
  font-weight: 600;
}

#blog_post_info {
  display: none;
}

#blog-comments-placeholder {
  display: none;
}

#comment_form_container {
  display: none;
}

#under_post_kb {
  display: none;
}

#under_post_card2 {
  display: none;
}

#under_post_card1 {
  display: none;
}

#ad_t2 {
  display: none;
}


#comment_nav {
  display: none;
}

p {
  box-sizing: border-box;
  color: rgb(59, 69, 78);
  display: block;
  font-family: "Glow Sans SC", -apple-system, sans-serif;
  font-size: 15.96px;
  font-style: normal;
  font-weight: 500;
  line-break: after-white-space;
  line-height: 25.536001px;
  margin-block-end: 14px;
  margin-block-start: 14px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  orphans: 4;
  overflow-wrap: break-word;
  position: relative;
  text-rendering: geometricprecision;
  text-wrap-mode: wrap;
  white-space-collapse: preserve;
  word-break: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-nbsp-mode: space;
  -webkit-user-modify: read-write;
}

#sidebar_news_container :not(pre, div)>code,
.cnblogs-markdown :not(pre, div)>code,
.blogpost-body:not(.cnblogs-markdown) :not(pre, div, td)>code {
  color: #252525;
}

#post_next_prev {
  display: none;
}

#cnblogs_ch {
  font-size: 12px;
  margin-left: 20px;
}

#cnblogs_ch>a {
  color: #b7b7b7;
}

.post-meta-tags {
  font-size: 15px;
}